/*-- scss:defaults --*/
$navbar-bg: #212529;

/*-- scss:rules --*/
// mainfont is set in _quarto.yml
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

#main-title>h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem 0;
}

h2.home-heading {
  border: none;
  padding: 0;
  margin-top: 1rem;
  font-size: x-large;
}

#link-topspace {
  margin: 1rem 0;
  font-size: x-large;
  height: 1.2em;
}

.banner {
  text-align: center;

  img {
    max-width: 75%;
  }
}

.card {
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;

  .card-header {
    padding: 0;
    border-radius: 0.25rem 0.25rem 0 0;
    background-color: #f7f7f7;

    p {
      margin: 0;
      padding: 0.5rem;
    }
  }

  .btn>p {
    padding: 0 0.25rem;
    margin: 0;

    a {
      color: black;
      text-decoration: none;
    }
  }

  .btn:last-child {
    border-radius: 0 0 0.25rem 0.25rem;
  }
}
